[flake8]
max_line_length = 88
ignore =
    E501 # line too long - let black handle that
    E203 # whitespace before ':' - doesn't work well with black
    W503 # line break occurred before a binary operator - let black worry about that